
.navItem {
    display: inline-block;
    margin-right: 50px;
    list-style: none;
    //navigationItem nazwa klasy rodzica, a Link ma tylko dodany sufix Link (navigationItemLink)
    // poprzez & można się dostać do dziecka pisząc tylko dodany Link
    &Link {
        text-decoration: none;
        color: #818181;

        &Active {
            font-weight: 700;
        }
    }
}
